In [2]:
import json 
import pandas as pd 
from pandas import json_normalize

In [3]:
with open('receipts.json') as f:
  r = [json.loads(line) for line in f]
f.close()

receipts = json_normalize(r)

receipts.head()

   bonusPointsEarned  ... purchaseDate.$date
0              500.0  ...       1.609632e+12
1              150.0  ...       1.609601e+12
2                5.0  ...       1.609632e+12
3                5.0  ...       1.609632e+12
4                5.0  ...       1.609601e+12

[5 rows x 15 columns]

In [4]:
receipts.shape

(1119, 15)

In [5]:
receipts.rewardsReceiptItemList[19]

[{'barcode': '4011',
  'description': 'ITEM NOT FOUND',
  'finalPrice': '1',
  'itemPrice': '1',
  'partnerItemId': '1',
  'quantityPurchased': 1},
 {'barcode': '1234',
  'needsFetchReview': True,
  'needsFetchReviewReason': 'USER_FLAGGED',
  'partnerItemId': '2',
  'preventTargetGapPoints': True,
  'userFlaggedBarcode': '1234',
  'userFlaggedDescription': '',
  'userFlaggedNewItem': True}]

In [6]:
with open('brands.json') as f:
  b = [json.loads(line) for line in f]
f.close()

brands = json_normalize(b)

brands.head()

        barcode        category  ... cpg.$ref                      brandCode
0  511111019862          Baking  ...     Cogs                            NaN
1  511111519928       Beverages  ...     Cogs                      STARBUCKS
2  511111819905          Baking  ...     Cogs  TEST BRANDCODE @1612366146176
3  511111519874          Baking  ...     Cogs  TEST BRANDCODE @1612366146051
4  511111319917  Candy & Sweets  ...     Cogs  TEST BRANDCODE @1612366146827

[5 rows x 9 columns]

In [7]:
brands.shape

(1167, 9)

In [8]:
with open('users.json') as f:
  u = [json.loads(line) for line in f]
f.close()

users = json_normalize(u)

users.head()

   active      role  ... createdDate.$date lastLogin.$date
0    True  consumer  ...     1609687444800    1.609688e+12
1    True  consumer  ...     1609687444800    1.609688e+12
2    True  consumer  ...     1609687444800    1.609688e+12
3    True  consumer  ...     1609687530554    1.609688e+12
4    True  consumer  ...     1609687444800    1.609688e+12

[5 rows x 7 columns]

In [9]:
users.shape

(495, 7)

In [10]:
receipts.isna().sum()

bonusPointsEarned          575
bonusPointsEarnedReason    575
pointsEarned               510
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
_id.$oid                     0
createDate.$date             0
dateScanned.$date            0
finishedDate.$date         551
modifyDate.$date             0
pointsAwardedDate.$date    582
purchaseDate.$date         448
dtype: int64

In [12]:
brands.isna().sum()

barcode           0
category        155
categoryCode    650
name              0
topBrand        612
_id.$oid          0
cpg.$id.$oid      0
cpg.$ref          0
brandCode       234
dtype: int64

In [13]:
users.isna().sum()

active                0
role                  0
signUpSource         48
state                56
_id.$oid              0
createdDate.$date     0
lastLogin.$date      62
dtype: int64

In [14]:
brands.duplicated(subset=['barcode']).any()

True

In [19]:
users.duplicated(subset=['_id.$oid']).any()

True